Let's do some roulette simulations!

We'll start with the American Wheel, which is worse for players.

House advantage is about 5%

In [1]:
from roulette import Roulette
r = Roulette(100)

In [2]:
for i in range(1000):
    r.bet(
        type = "straight", 
        choice = 5, 
        amount = 1
        )

In [3]:
df = r.results_df
df

,roll,type,choice,amount,win,money,total_wins,total_losses,total_money
0,13,straight,5,1,False,-1,0,0,99
1,34,straight,5,1,False,-1,0,1,98
2,16,straight,5,1,False,-1,0,2,97
3,0,straight,5,1,False,-1,0,3,96
4,25,straight,5,1,False,-1,0,4,95
...,...,...,...,...,...,...,...,...,...
995,25,straight,5,1,False,-1,25,970,4
996,22,straight,5,1,False,-1,25,971,3
997,14,straight,5,1,False,-1,25,972,2
998,30,straight,5,1,False,-1,25,973,1
999,25,straight,5,1,False,-1,25,974,0

In [4]:
df[df.win == True]

,roll,type,choice,amount,win,money,total_wins,total_losses,total_money
17,5,straight,5,1,True,35,0,17,118
20,5,straight,5,1,True,35,1,19,151
105,5,straight,5,1,True,35,2,103,102
111,5,straight,5,1,True,35,3,108,132
130,5,straight,5,1,True,35,4,126,149
193,5,straight,5,1,True,35,5,188,122
308,5,straight,5,1,True,35,6,302,43
495,5,straight,5,1,True,35,7,488,-108
544,5,straight,5,1,True,35,8,536,-121
557,5,straight,5,1,True,35,9,548,-98
615,5,straight,5,1,True,35,10,605,-120
648,5,straight,5,1,True,35,11,637,-117
668,5,straight,5,1,True,35,12,656,-101
678,5,straight,5,1,True,35,13,665,-75
722,5,straight,5,1,True,35,14,708,-83
756,5,straight,5,1,True,35,15,741,-81
779,5,straight,5,1,True,35,16,763,-68
788,5,straight,5,1,True,35,17,771,-41
830,5,straight,5,1,True,35,18,812,-47
848,5,straight,5,1,True,35,19,829,-29
864,5,straight,5,1,True,35,20,844,-9
883,5,straight,5,1,True,35,21,862,8
920,5,straight,5,1,True,35,22,898,7
947,5,straight,5,1,True,35,23,924,16
984,5,straight,5,1,True,35,24,960,15

TODO:

1. Fix the win / loss counting issue